@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    /* font-family: 'Montserrat Alternates', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

canvas{
    background: rgba(51, 255, 0, 0.222);
    display: block; 
    margin: 0 auto;
    position: relative; 
    border: 5px solid white;
    background-image: url("stars.jpg");
    top: 3.5em;
    
}
#start{
    position: absolute;
    color: black;
    top: 320px;
    left: 700px;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    font-family: 'Courier New', 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    background: rgba(128, 128, 128, 0.729);
}
#restart{
    position: absolute;
    color: black;
    top: 320px;
    left: 700px;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    font-family: 'Courier New', 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    background: rgba(128, 128, 128, 0.729);
}

li{
    color: white;
}
#easy{
    position: absolute;
    color: black;
    top: 320px;
    left: 590px;
    width: 100px;
    height: 80px;
    /* border-radius: 150px; */
    font-family: 'Courier New', 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    /* font-weight: 600; */
    background: rgba(128, 128, 128, 0.877);
}
#medium{
    position: absolute;
    color: black;
    top: 320px;
    left: 700px;
    width: 100px;
    height: 80px;
    /* border-radius: 150px; */
    font-family: 'Courier New', 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    /* font-weight: 600; */
    background: rgba(128, 128, 128, 0.729);
}
#hard{
    position: absolute;
    color: black;
    top: 320px;
    left: 810px;
    width: 100px;
    height: 80px;
    /* border-radius: 150px; */
    font-family: 'Courier New', 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    /* font-weight: 600; */
    background: rgba(128, 128, 128, 0.729);
}
button:hover{
    transform: scale(1.2);
}

